In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("loan_prediction1.csv")

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

## checking null values

In [6]:
data.isnull().sum()*100/len(data)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [7]:
columns=['Gender','Dependents','LoanAmount','Loan_Amount_Term']

In [8]:
data=data.dropna(subset=columns)

In [9]:
data.isnull().sum()*100/len(data)

Loan_ID              0.000000
Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        5.424955
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [10]:
data=data.drop("Loan_ID",axis=1)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 553 entries, 1 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             553 non-null    object
 1   Married            553 non-null    object
 2   Dependents         553 non-null    object
 3   Education          553 non-null    object
 4   Self_Employed      523 non-null    object
 5   ApplicantIncome    553 non-null    int64
 6   CoapplicantIncome  553 non-null    float64
 7   LoanAmount         553 non-null    float64
 8   Loan_Amount_Term   553 non-null    float64
 9   Credit_History     505 non-null    float64
 10  Property_Area      553 non-null    object
 11  Loan_Status        553 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 56.2+ KB

In [12]:
data.isnull().sum()*100/len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        5.424955
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [13]:
data['Self_Employed'].mode()[0]

'No'

In [14]:
data['Self_Employed']=data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])

In [15]:
data.isnull().sum()*100/len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        0.000000
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.679928
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [16]:
data['Credit_History'].mode()[0]

1.0

In [17]:
data['Credit_History'].unique()

array([ 1.,  0., nan])

In [18]:
data['Credit_History']=data['Credit_History'].fillna(data['Credit_History'].mode()[0])

In [19]:
data.isnull().sum()*100/len(data)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

## handling categorical columns

In [20]:
data.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
166,Female,Yes,0,Graduate,No,4583,0.0,112.0,360.0,1.0,Rural,N
404,Female,No,0,Graduate,Yes,7441,0.0,194.0,360.0,1.0,Rural,N
559,Female,Yes,0,Graduate,No,4180,2306.0,182.0,360.0,1.0,Semiurban,Y
320,Male,Yes,0,Graduate,No,2400,2167.0,115.0,360.0,1.0,Semiurban,Y
22,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N

In [21]:
data['Dependents']=data['Dependents'].replace(to_replace="3+",value="4")

In [22]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [23]:
data['Gender']=data['Gender'].map({'Male':1,'Female':0}).astype("int")

In [24]:
data['Property_Area'].unique()

array(['Rural', 'Urban', 'Semiurban'], dtype=object)

In [25]:
data['Married']=data['Married'].map({'Yes':1,'No':0}).astype("int")

In [26]:
data['Education']=data['Education'].map({'Graduate':1,'Not Graduate':0}).astype("int")

In [27]:
data['Self_Employed']=data['Self_Employed'].map({'Yes':1,'No':0}).astype("int")

In [28]:
data['Property_Area']=data['Property_Area'].map({'Rural':0,'Urban':1,'Semiurban':2}).astype("int")

In [29]:
data['Loan_Status']=data['Loan_Status'].map({'Y':0,'N':1}).astype("int")

In [30]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,1
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,0
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,0
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,0
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,0

## store feature matrix

In [31]:
x=data.drop("Loan_Status",axis=1)

In [32]:
x

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,2900,0.0,71.0,360.0,1.0,0
610,1,1,4,1,0,4106,0.0,40.0,180.0,1.0,0
611,1,1,1,1,0,8072,240.0,253.0,360.0,1.0,1
612,1,1,2,1,0,7583,0.0,187.0,360.0,1.0,1
613,0,0,0,1,1,4583,0.0,133.0,360.0,0.0,2

In [33]:
y=data['Loan_Status']

In [34]:
y

1      1
2      0
3      0
4      0
5      0
      ..
609    0
610    0
611    0
612    0
613    1
Name: Loan_Status, Length: 553, dtype: int32

## festure scaling

In [35]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,1
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,0
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,0
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,0
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,0

In [36]:
cols=['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']

In [37]:
from sklearn.preprocessing import StandardScaler
st=StandardScaler()
x[cols]=st.fit_transform(x[cols])

In [38]:
x

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,1,0,-0.128694,-0.049699,-0.214368,0.279961,1.0,0
2,1,1,0,1,1,-0.394296,-0.545638,-0.952675,0.279961,1.0,1
3,1,1,0,0,0,-0.464262,0.229842,-0.309634,0.279961,1.0,1
4,1,0,0,1,0,0.109057,-0.545638,-0.059562,0.279961,1.0,1
5,1,1,2,1,1,0.011239,0.834309,1.440866,0.279961,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,1,0,-0.411075,-0.545638,-0.893134,0.279961,1.0,0
610,1,1,4,1,0,-0.208727,-0.545638,-1.262287,-2.468292,1.0,0
611,1,1,1,1,0,0.456706,-0.466709,1.274152,0.279961,1.0,1
612,1,1,2,1,0,0.374659,-0.545638,0.488213,0.279961,1.0,1
613,0,0,0,1,1,-0.128694,-0.545638,-0.154828,0.279961,0.0,2

## splitting dataset into training and testing data

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import numpy as np

In [40]:
model_df={}
def model_val(model,x,y):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    print(f"{model}Accuracy is {accuracy_score(y_test,y_pred)}")
    
    score=cross_val_score(model,x,y,cv=5)
    print(f"{model}Aerage Cross val score is {np.mean(score)}")
    model_df[model]=round(np.mean(score)*100,2)

## logistic regression

In [41]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,1
2,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,1,0
3,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,1,0
4,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,1,0
5,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,1,0

In [42]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model_val(model,x,y)

LogisticRegression()Accuracy is 0.8018018018018018
LogisticRegression()Aerage Cross val score is 0.8047829647829647

In [43]:
model_df

{LogisticRegression(): 80.48}

## Support vector classifier

In [44]:
from sklearn import svm
model=svm.SVC()
model_val(model,x,y)

SVC()Accuracy is 0.7927927927927928
SVC()Aerage Cross val score is 0.7938902538902539

In [45]:
model_df

{LogisticRegression(): 80.48, SVC(): 79.39}

## Decision tree calssifier

In [46]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model_val(model,x,y)

DecisionTreeClassifier()Accuracy is 0.7567567567567568
DecisionTreeClassifier()Aerage Cross val score is 0.7125470925470926

In [47]:
model_df

{LogisticRegression(): 80.48, SVC(): 79.39, DecisionTreeClassifier(): 71.25}

## random forest classifier

In [48]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model_val(model,x,y)

RandomForestClassifier()Accuracy is 0.7837837837837838
RandomForestClassifier()Aerage Cross val score is 0.7920884520884521

In [49]:
model_df

{LogisticRegression(): 80.48,
 SVC(): 79.39,
 DecisionTreeClassifier(): 71.25,
 RandomForestClassifier(): 79.21}

## gradient boosting classifier

In [50]:
from sklearn.ensemble import GradientBoostingClassifier
model=GradientBoostingClassifier()
model_val(model,x,y)

GradientBoostingClassifier()Accuracy is 0.7927927927927928
GradientBoostingClassifier()Aerage Cross val score is 0.7757739557739558

In [51]:
model_df

{LogisticRegression(): 80.48,
 SVC(): 79.39,
 DecisionTreeClassifier(): 71.25,
 RandomForestClassifier(): 79.21,
 GradientBoostingClassifier(): 77.58}

## from the above ML algorithms it is clear that logistic regression is the best model with default parameter for this dataset with 80.48% but we can tune default parameter called hyperparameter tuning

## Hyperparameter Tuning

In [52]:
from sklearn.model_selection import RandomizedSearchCV

## we will be using this for every ML algirithms used above

## 1.Logistic Regression

In [53]:
log_reg_grid={"C":np.logspace(-4,4,20),"solver":['liblinear']}

In [54]:
rs_log_rig=RandomizedSearchCV(LogisticRegression(),param_distributions=log_reg_grid,n_iter=20,cv=5,verbose=True)

In [55]:
rs_log_rig.fit(x,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=LogisticRegression(), n_iter=20,
                   param_distributions={'C': array([1.00000000e-04, 2.63665090e-04, 6.95192796e-04, 1.83298071e-03,
       4.83293024e-03, 1.27427499e-02, 3.35981829e-02, 8.85866790e-02,
       2.33572147e-01, 6.15848211e-01, 1.62377674e+00, 4.28133240e+00,
       1.12883789e+01, 2.97635144e+01, 7.84759970e+01, 2.06913808e+02,
       5.45559478e+02, 1.43844989e+03, 3.79269019e+03, 1.00000000e+04]),
                                        'solver': ['liblinear']},
                   verbose=True)

In [56]:
rs_log_rig.best_score_

0.8047829647829647

In [57]:
rs_log_rig.best_params_

{'solver': 'liblinear', 'C': 0.23357214690901212}

## SVC

In [58]:
svc_grid={'C':[0.25,0.5,0.75,1],"kernel":["linear"]}

In [59]:
 rs_svc=RandomizedSearchCV(svm.SVC(),param_distributions=svc_grid,cv=5,n_iter=20,verbose=True)

In [60]:
rs_svc.fit(x,y)

C:\Users\jaisy\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:292: UserWarning: The total space of parameters 4 is smaller than n_iter=20. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 5 folds for each of 4 candidates, totalling 20 fits

RandomizedSearchCV(cv=5, estimator=SVC(), n_iter=20,
                   param_distributions={'C': [0.25, 0.5, 0.75, 1],
                                        'kernel': ['linear']},
                   verbose=True)

In [61]:
rs_svc.best_score_

0.8066011466011467

In [62]:
rs_svc.best_params_

{'kernel': 'linear', 'C': 0.25}

## Random forest classifier

In [63]:
rf_grid={"n_estimators":np.arange(10,1000,10),"max_features":['auto','sqrt'],"max_depth":[None,3,5,10,20,30],"min_samples_split":[2,5,20,50,100],"min_samples_leaf":[1,2,5,10]}

In [64]:
rs_rf=RandomizedSearchCV(RandomForestClassifier(),param_distributions=rf_grid,cv=5,n_iter=20,verbose=True)

In [65]:
rs_rf.fit(x,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=20,
                   param_distributions={'max_depth': [None, 3, 5, 10, 20, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 20, 50,
                                                              100],
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])},
                   verbose=True)

In [66]:
rs_rf.best_score_

0.8066011466011467

In [67]:
rs_rf.best_params_

{'n_estimators': 620,
 'min_samples_split': 50,
 'min_samples_leaf': 1,
 'max_features': 'auto',
 'max_depth': 3}

In [68]:
#Logisticregression before hyperparamter tuning 80.48
#Logisticregression after hyperparamter tuning 80.48

#SVC before hyperparamter tuning 79.4
#SVC before hyperparamter tuning 80.66

#RandomForestClassifier before hyperparamter tuning 78.12
#RandomForestClassifier before hyperparamter tuning 80.66

## Save The Model

In [69]:
x=data.drop("Loan_Status",axis=1)
y=data['Loan_Status']

In [72]:
rf=RandomForestClassifier(n_estimators=620,min_samples_split=50,min_samples_leaf=1,max_features='auto',max_depth=3)

In [73]:
rf.fit(x,y)

RandomForestClassifier(max_depth=3, min_samples_split=50, n_estimators=620)

In [74]:
import joblib

In [75]:
joblib.dump(rf,'loan_status_predict')

['loan_status_predict']

In [76]:
model=joblib.load("loan_status_predict")

In [80]:
import pandas as pd
df=pd.DataFrame({'Gender':1,'Married':1,'Dependents':2,'Education':0,'Self_Employed':0,'ApplicantIncome':2889,
    'CoapplicantIncome':0.0,'LoanAmount':45,'Loan_Amount_Term':180,'Credit_History':0,'Property_Area':1},index=[0])

In [81]:
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,2,0,0,2889,0.0,45,180,0,1

In [82]:
model.predict(df)

array([1])

In [83]:
result=model.predict(df)

In [84]:
if result==1:
    print("Congatulations Your Loan is Approved")
else:
    print("You have not met the Eligible Criteria")

Congatulations Your Loan is Approved

## we will create GUI

In [85]:
from tkinter import *
import joblib
import pandas as pd

In [91]:
def show_entry():
    p1=float(e1.get())
    p2=float(e2.get())
    p3=float(e3.get())
    p4=float(e4.get())
    p5=float(e5.get())
    p6=float(e6.get())
    p7=float(e7.get())
    p8=float(e8.get())
    p9=float(e9.get())
    p10=float(e10.get())
    p11=float(e11.get())
    
    model=joblib.load("loan_status_predict")
    df=pd.DataFrame({'Gender':p1,'Married':p2,'Dependents':p3,'Education':p4,'Self_Employed':p5,'ApplicantIncome':p6,
    'CoapplicantIncome':p7,'LoanAmount':p8,'Loan_Amount_Term':p9,'Credit_History':p10,'Property_Area':p11},index=[0])
    result=model.predict(df)
    
    if result==1:
        Label(master,text="Congatulations Your Loan is Approved").grid(row=31)
    else:
        Label(master,"You have not met the Eligible Criteria").grid(row=31)
        
master=Tk()
master.title("loan status prediction using machine learning")
label=Label(master,text="loan status prediction",bg='black',fg='white').grid(row=0,columnspan=2)



Label(master,text="Gender[1:Male,0:Female]").grid(row=1)
Label(master,text="Married[1:Yes,0:No]").grid(row=2)
Label(master,text="Dependents[1,2,3,4]").grid(row=3)
Label(master,text="Eductaion").grid(row=4)
Label(master,text="Self_Employed").grid(row=5)
Label(master,text="ApplicantsIncome").grid(row=6)
Label(master,text="CoapplicantIncome").grid(row=7)
Label(master,text="LoanAmount").grid(row=8)
Label(master,text="Loan_Amount_Term").grid(row=9)
Label(master,text="Credit_History").grid(row=10)
Label(master,text="Property_Area").grid(row=11)

el=Entry(master)
e2=Entry(master)
e3=Entry(master)
e4=Entry(master)
e5=Entry(master)
e6=Entry(master)
e7=Entry(master)
e8=Entry(master)
e9=Entry(master)
e10=Entry(master)
e11=Entry(master)

e1.grid(row=1,column=1)
e2.grid(row=2,column=1)
e3.grid(row=3,column=1)
e4.grid(row=4,column=1)
e5.grid(row=5,column=1)
e6.grid(row=6,column=1)
e7.grid(row=7,column=1)
e8.grid(row=8,column=1)
e9.grid(row=9,column=1)
e10.grid(row=10,column=1)
e11.grid(row=11,column=1)

Button(master,text="PREDICT",command=show_entry).grid()

mainloop()

NameError: name 'e1' is not defined